$main-font-size: 2.5rem;

@mixin ph {
    @media (max-width: 700px) {
        @content;
    }
}

body {
    background-image: url(../img/instruction.png);
}

.title {
    font-size: $main-font-size;
    font-family: 'Arial';
    line-height: 1.4;
    color: green;
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
}
.item {
    font-size: 1.125rem;
    margin-right: 0.5rem;
}

@include ph {
    .title {
        font-size: 1rem;
    }
}

@import "block/*.scss";